body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .game {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .status {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .reset-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #45a049;
  }
  