.container {
    display: flex;
    gap: 20px;
    -webkit-box-shadow: inset -1px -4px 67px 1px rgba(179,230,186,0.61);
    -moz-box-shadow: inset -1px -4px 67px 1px rgba(179,230,186,0.61);
    box-shadow: inset -1px -4px 67px 1px rgba(179,230,186,0.61);
  }
  
  .column {
    flex: 1;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
  }
  
  .column ul li {
    width: 50%;
    cursor: pointer;
    padding: 10px;
    background-color: #ddf3f3;
    border: solid 1px rgba(146, 243, 147, 0.876);
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .column ul li:hover {
    background-color: #54f7ce9a;
  }
  
  .column button {
    margin-top: 10px;
  }
  
  .column form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .column form input,
  .column form textarea {
    width: 55%;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ddf3f3;
    border: solid 1px rgba(146, 243, 147, 0.876);
    border-radius: 4px;
    margin-bottom: 5px;

  }
  
  .column form button[type="submit"],
  .column form button[type="button"],
  .column button {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #566665;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .column form button[type="submit"]:hover,
  .column form button[type="button"]:hover,
  .column button[type="button"]:hover {
    background-color: #555;
  }
  
  .column form button[type="submit"]:focus,
  .column form button[type="button"]:focus,
  .column button[type="button"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333;
  }
  
  .column .details p {
    margin-bottom: 5px;
  }
  
  .column .details button {
    margin-top: 10px;
  }
  
  .column .details button.remove {
    background-color: #ff3333;
    color: #cb3a3a;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .column .details button.remove:hover {
    background-color: #ff6666;
  }
  
  .column .details button.remove:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff3333;
  }