#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .bingoball {
    background-color: yellow;
    border: solid 1px black;
    border-radius: 50%;
    width: 1.2rem;
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }